[submodule "src/epiGBS"]
	path = src/epiGBS
	url = https://github.com/nioo-knaw/epiGBS.git
[submodule "src/epiGBS-submodul"]
	path = src/epiGBS-submodul
	url = https://github.com/nioo-knaw/epiGBS-submodul
